body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

/* Adjustments for gender radio buttons */

.gender-options {
    display: inline-block;
}

.gender-label {
    margin-right: 2px;
}
/* Adjustments for terms checkbox */
.terms-container {
    margin-top: 10px;
}
.terms-container {
    display: inline-block;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
